# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.avi
*.webm
*.jpg

.vscode
!.vscode/*.json
motion/
*.zip
yesterdayMotion/
# gpio/
build*
learningFile/
alertSong/
# script.sh
videoTest/
alert/*
log.txt
alert.mp3
CMakeLists.txt.user
